body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



 .barra{
  height:100%;
  background-color:lightgray;

}

.barraLink{
  text-decoration: none;
  color:white;
  font-style: normal;
}
.barraLink:hover{
  color:fuchsia;
  text-decoration: none;
}

.titulo{
  font-weight:bold;
 
}

.acordeon{
  background-color:lightgray;
}